/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .titleBox {
     background-color: brown;
     border: 10px;
     border-color: black;
     background-image: url("Cappucino.png")
 }

  #notification {
    border: 5px solid #9c9;
    background-color: #cfc;
    padding: 5px;
    margin: 10px 0;
}

 input {
    margin-bottom: 1em;
 }

 .inputBox {
     background-color: #f4d442;
 
 }
 
 .field input {
     background-color: #f4d442;
 }
 
 .field_with_errors {
    color: red;
    background: transparent;
 }

 .field_with_errors input {
    border: thin solid red;
 }
 
 .form_errors { 
     color: red;
 }
 
